<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="enjoygift">
	<select id="giftshopList" parameterType="map" resultType="com.sp.enjoy.giftshop.EnjoyGift">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM(
		        SELECT facilityCode, name, saveMainFilename, t.themeCode, themeName FROM facility f
		        JOIN theme t ON t.themeCode = f.themeCode
		        WHERE gubunCode = 5
		        ORDER BY themeCode ASC, facilityCode DESC
		    )tb WHERE ROWNUM &lt;= #{end}
		)WHERE rnum &gt;=#{start}
	</select>
	
	<select id="dataCount" resultType="Integer">
		SELECT count(*) FROM facility f
		WHERE gubunCode = 5
	</select>
	
	<select id="readGift" parameterType="Integer" resultType="com.sp.enjoy.giftshop.EnjoyGift">
		SELECT facilityCode, name, saveMainFilename, saveLocFilename, t.themeCode, themeName, memo FROM facility f
		JOIN theme t ON t.themeCode = f.themeCode
		WHERE facilityCode = #{facilityCode}
	</select>
</mapper>