<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="faq">
	<sql id="where-tab-list">
		<if test="tab=='useinfo'">
			f.gubunCode=1
		</if>
		<if test="tab=='pre'">
			f.gubunCode=2
		</if>
		<if test="tab=='event'">
			f.gubunCode=3
		</if>
		<if test="tab=='years'">
			f.gubunCode=4
		</if>
		<if test="tab=='online'">
			f.gubunCode=5
		</if>
		<if test="tab=='els'">
			f.gubunCode=6
		</if>
	</sql>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
        SELECT COUNT(*)
        FROM faq f
		JOIN faqGubun fg ON f.gubunCode = fg.gubunCode
        <where>
        	<if test="searchValue != null and searchValue != ''">
				INSTR(subject, #{searchValue}) &gt; 0
			</if>
			<if test="tab != 'all'">
				AND
        		<include refid="where-tab-list"/>			
			</if>
        </where>
	</select>
	
	<select id="faqList" parameterType="map" resultType="com.sp.faq.Faq">
		SELECT * FROM(
		    SELECT ROWNUM rnum, tb.* FROM (
		        SELECT faqCode, subject, content, f.gubunCode, gubunName 
				FROM faq f
				JOIN faqGubun fg ON f.gubunCode = fg.gubunCode
		        <where>
		        	<if test="searchValue != null and searchValue != ''">
						INSTR(subject, #{searchValue}) &gt; 0
					</if>
					<if test="tab != 'all'">
						AND
		        		<include refid="where-tab-list"/>			
					</if>
		        </where>
		        ORDER BY faqCode DESC
		    ) tb WHERE ROWNUM &lt;= 10
		) WHERE rnum &gt;=1
	</select>
</mapper>